html {
  font-family: Helvetica;
  text-align: center;
}

h1  {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  color: white;

}
a {
  font-size: 18px;
  color: white;
}

.footer {
  text-align: left;
  background-color: dimgray;
}

.footer-text {
  font-size: 11px;
  color: white;
}
